/*css for header*/
header {
    padding: 30px;
    font-family: var(--cambria);
    color: var(--dark-blue);
    margin-top: 5px;
    margin-bottom: 10px;
    align-items: flex-center;
}

.header h1 {
    display: inline-block;
    font-size: 30px;
    font-style: var(--italic);
}

.header nav {
    margin-right: 50px;
    float: right;
    font-size: 17px;
}

a {
    background-color: var(--dark-blue);
    color: var(--aqua); 
    border-radius: 5px;
    padding: 7px 15px 10px 20px;
}

button {
    background-color: var(--aqua);
    border: none;
    padding: 5px 5px 10px 5px;
    cursor: pointer;
}

.bigger-emoji {
    font-size: 2em;
}

/*css for main*/

/*css for footer*/
footer {
    margin: 0 auto;
    bottom: 0;
    position: relative;
    width: 100%;
    padding-top: 25px; 
    padding-bottom: 50px;  
    background-color: var(--aqua);
}

footer h5 {
    color: var(--dark-blue);
    display: flex;
    justify-content: center;
    padding: 5px 5px 10px 5px;
}

.panel-footer ul li {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-right: 50px;
    margin-left: 50px;
    font-size: 17px;
}

.panel-footer ul li a {
    color: var(--dark-blue);
    background-color: var(--aqua);
    border: none;
    margin: 0;
    padding: 10px 0;
}
