body {
    margin: 30px 30px 10px 30px;
}

/*CSS for header*/
header {
    padding: 30px;
    font-family: var(--cambria);
    color: var(--dark-blue);
    margin-top: 5px;
    margin-bottom: 10px;
    align-items: flex-center;
}

.header h1 {
    display: inline-block;
    font-size: 30px;
    font-style: var(--italic);
}

.header nav {
    margin-right: 50px;
    float: right;
    font-size: 17px;
}

a {
    background-color: var(--dark-blue);
    color: var(--aqua); 
    border-radius: 5px;
    padding: 7px 15px 10px 20px;
}

button {
    background-color: var(--aqua);
    border: none;
    padding: 5px 5px 10px 5px;
    cursor: pointer;
}

/*CSS for main*/

.post {
    color: var(--dark-blue);
    border: 1px solid var(--dark-blue);
    border-radius: 3px;
    margin: 10px 30px 10px 30px;
}

.post h2 {
    font-size: 16px;
    margin-left: 10px;
    margin-top: 10px;
}

blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    unicode-bidi: isolate;
    font-style: oblique;
}

.post p {
    margin-left: 10px;
    margin-bottom: 10px;
}


/*CSS for footer*/
footer {
    margin: 0 auto;
    bottom: 0;
    position: relative;
    width: 100%;
    padding-top: 25px; 
    padding-bottom: 50px;  
 }

footer h5 {
    color: var(--dark-blue);
    display: flex;
    justify-content: center;
    padding: 5px 5px 10px 5px;
}

.panel-footer ul li {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-right: 50px;
    margin-left: 50px;
    font-size: 17px;
}

.panel-footer ul li a {
    color: var(--dark-blue);
    background-color: var(--aqua);
    border: none;
    margin: 0;
    padding: 10px 0;
}
