* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*CSS variables*/
:root {
    --dark-blue: #07131e;
    --aqua:#53EFE9;
    --white: white;
    --cambria: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --italic: italic;
}

body {
    background-color: var(--aqua);
}

/*Responsive design*/
@media screen and (max-width: 768px) {
    header,
    nav {
        flex-direction: column;
    }
}