* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*CSS variables*/
:root {
    --dark-blue: #07131e;
    --aqua:#53EFE9;
    --white: white;
    --cambria: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --italic: italic;
}

/*CSS for body*/
body {
    background-color: var(--aqua);
    border: 2px solid var(--dark-blue);
    border-radius: 5px;
}

/*CSS for emoji*/
.bigger-emoji {
    font-size: 2em;
}

/*Responsive design*/
@media screen and (max-width: 768px) {
    header,
    nav {
        flex-direction: column;
    }
}